<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="contestio" translate="label" sortOrder="10">
            <label>Contestio</label>
        </tab>
        <section id="contestio_connect" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Configuration Contestio</label>
            <tab>contestio</tab>
            <resource>Contestio_Connect::config</resource>
            <group id="api_settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Paramètres API</label>
                <field id="api_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Clé API</label>
                </field>
                <field id="api_secret" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Secret API</label>
                </field>
            </group>
        </section>
    </system>
</config>